info-model/rules/rules.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
        Do not edit this file directly!
        This file is generated automatically by processing 
        info-model.ditamap
        If you want to change the rules, edit the corresponding sections 
        marked with audience="rules" in the corresponding topic files.
      -->
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <include href="library.sch#avoidWordInElement"/>
   <include href="library.sch#recommendElementInParent"/>
   <include href="library.sch#restrictWords"/>
   <!--Generated from topics/avoid-using-oXygen-in-index.dita-->
   <pattern is-a="avoidWordInElement">
      <param name="word" value="oXygen"/>
      <param name="element" value="indexterm"/>
      <param name="message" value="We should avoid using oXygen inside index terms!"/>
   </pattern>
</schema>
